{
    "leanpub_api_key": "{{ onepasswordRead "op://Private/leanpub/api key" }}",
    "books": [
        "learning-hammerspoon",
        "learning-cfengine",
        "emacs-org-leanpub",
        "lit-config"
    ],
    "poll_interval": 20,
    "notification_timeout_ms": 5000
}
